<div id="juego" class="container">
    <div class="row text-center" v-if="!usuario.activo">
        <div class="col-sm-12">
            <h2>Bienvenido al juego</h2>
            <div class="col-sm-12">
                <input v-model="personaje.busqueda" type="text" placeholder="Ingrese personaje">
                <button v-on:click="buscarPersonajes()">Buscar personajes</button>
            </div>
            <div v-if="personaje.imagen !== null">
                <img v-bind:src="personaje.imagen" style="width: 200px">
            </div>
        </div>
    </div>
    <div class="row text-center" v-if="usuario.activo">
        <div class="col-sm-12">
            <h2>Estás en partida</h2>
            <div class="col-sm-12">
                <input id="inputPrediccion" type="text" placeholder="Ingrese predicción">
                <button id="btnPrediccion">Enviar</button>
            </div>
        </div>
    </div>
</div>


<script>

    const socket = io();

    const juego = new Vue({
        el: '#juego',
        data: {
            usuario: {
                id: null,
                username: null,
                room: null,
                activo: false,
                turno: false,
            },
            personaje: {
                busqueda: '',
                imagen: null
            }
        },
        created: function() {
            socket.on('juego.famoso.imagen', (data) => {
                this.personaje.imagen = data;
            });

            socket.on('juego.famoso.imagen.error', (data) => {
                console.log(data);
                alert(data);
            });
        },
        methods: {
            buscarPersonajes: function() {
                socket.emit('juego.famoso.buscar', this.personaje.busqueda);
            }
        }
    });

    
    socket.emit('juego.iniciar', true);

    usuario = {
        id: null,
        username: null,
        room: null,
        activo: false,
        turno: false,
    }

    // EMISIONES
    $('#btnPrediccion').click(function() {
        enviarPrediccion();
    });

    $('#inputPrediccion').keydown(function(event) { 
        if(event.keyCode === 13) {
            enviarPrediccion();
        }
    });

    // RECEPCIONES
    socket.on('juego.recibir.prediccion', (data) => {
        console.log(data);
    });

    socket.on('juego.room.creado', (data) => {
        usuario.room = data.room;
        usuario.turno = data.turno;
    });

    

    // FUNCIONES
    function enviarPrediccion() {
        const prediccion = $('#inputPrediccion').val();
        if(prediccion.trim() !== '') {
            socket.emit('juego.enviar.prediccion', {
                room: usuario.room,
                prediccion
                });
            $('#inputPrediccion').val('');
        }
    }

</script>