<div id="juego" class="container">
    <div class="row text-center" v-if="!usuario.activo">
        <div class="col-sm-12">
            <h1>Bienvenido al juego</h1>
            <div class="col-sm-12">
                <input v-model="personaje.busqueda" type="text" placeholder="Ingrese personaje">
                <button v-on:click="buscarPersonajes()">Buscar personajes</button>
            </div>
            <div v-if="personaje.imagen !== null">
                <img v-bind:src="personaje.imagen" style="width: 200px; height: 250px">
            </div>
            <div v-if="personaje.imagen !== null">
                <button v-on:click="seleccionarPersonaje()"> Seleccionar</button>
            </div>
        </div>
    </div>
    <div class="row text-center" v-if="usuario.room">
        <div class="col-sm-12">
            <h1>Estás en partida</h1>
            <img v-bind:src="personaje.imagen" style="width: 200px; height: 250px">
            <div class="col-sm-12">
                <input v-model="personaje.prediccion" v-bind:disabled="!usuario.turno  || !usuario.partida" type="text" placeholder="Ingrese predicción">
                <button v-on:click="enviarPrediccion()">Enviar</button>
            </div>
            <h4 v-if="!usuario.partida">Buscando rival</h4>
        </div>
        <div class="col-sm-12 text-left">
            <h2>Mis preguntas</h2>
            <div v-for="(pregunta, index) in preguntas">
                <h3> ${index + 1} - ${pregunta.pregunta} </h3>
                <h4> ${pregunta.respuesta} </h4>
            </div>
        </div>
    </div>
</div>
<script>
    const socket = io();
    const juego = new Vue({
        delimiters: ['${', '}'],
        el: '#juego',
        data: {
            usuario: {
                id: null,
                username: null,
                room: null,
                activo: false,
                turno: false,
                partida: false,
            },
            personaje: {
                busqueda: '',
                imagen: null,
                prediccion: ''
            },
            preguntas: []
        },
        created: function() {
            socket.on('juego.famoso.imagen', (data) => {
                this.personaje.imagen = data;
            });

            socket.on('juego.famoso.imagen.error', (data) => {
                console.log(data);
                alert(data);
            });

            socket.on('juego.recibir.prediccion', (data) => {
                const res = confirm(data.prediccion);
                let respuesta = '';
                if(res) {
                    respuesta = 'Si'
                } else {
                    respuesta = 'No'
                }
                socket.emit('juego.enviar.prediccion.respuesta', {
                    room: this.usuario.room,
                    respuesta: respuesta
                });
                this.usuario.turno = data.turno;
            });

            socket.on('juego.recibir.prediccion.respuesta', (data) => {
               this.preguntas[this.preguntas.length - 1].respuesta = data.respuesta;  
            });

            socket.on('juego.room.creado', (data) => {
                this.usuario.room = data.room;
                this.usuario.turno = data.turno;
                this.usuario.activo = data.activo;
            });

            socket.on('juego.partida.inicia', (data) => {
                this.usuario.partida = data;
            });

            socket.on('juego.fin.rival.desconectado', (data) => {
                if(data) {
                    alert('Tu rival se ha desconectado');
                    this.usuario.id = null,
                    this.usuario.username = null,
                    this.usuario.room = null,
                    this.usuario.activo = false,
                    this.usuario.turno = false,
                    this.usuario.partida = false,
                    this.personaje.busqueda = '',
                    this.personaje.imagen = null,
                    this.personaje.prediccion = ''
                    this.preguntas = []
                }
            });

        },
        methods: {
            buscarPersonajes: function() {
                const expReg = (/^([a-zA-Z]+\s)*[a-zA-Z]+$/);
                const busquedaValida = expReg.test(this.personaje.busqueda);
                if(busquedaValida) {
                    const arrayBusqueda = this.personaje.busqueda.toLowerCase().split(' ');
                    let busquedaRefactorizada = ''
                    for(busqueda of arrayBusqueda) {
                        busquedaRefactorizada += busqueda.charAt(0).toUpperCase() + busqueda.slice(1) + ' ';
                    }
                    socket.emit('juego.famoso.buscar', busquedaRefactorizada.trim());
                } else {
                    alert('Ingresa un personaje válido');
                }
            },
            enviarPrediccion: function() {
                if(this.personaje.prediccion.trim() !== '') {
                    socket.emit('juego.enviar.prediccion', {
                        room: this.usuario.room,
                        prediccion: this.personaje.prediccion
                    });
                    this.preguntas.push({pregunta: this.personaje.prediccion, respuesta: ''});
                    this.personaje.prediccion = '';
                    this.usuario.turno = false;
                }
            },
            seleccionarPersonaje: function() {
                socket.emit('juego.iniciar', true);
            }
        }
    });
</script>